module.exports = {
  title: 'sRedisTool - GUI Tool for Redis',
  languages: ['zh-CN', 'en'],
  encoding: [
    {name: 'utf8',displayName: 'UTF-8'},
    {name: 'utf16le',displayName: 'UTF-16 LE'},
    {name: 'utf16be',displayName: 'UTF-16 BE'},
    {name: 'windows1252',displayName: 'Western (Windows 1252)'},
    {name: 'iso88591',displayName: 'Western (ISO 8859-1)'},
    {name: 'iso88593',displayName: 'Western (ISO 8859-3)'},
    {name: 'iso885915',displayName: 'Western (ISO 8859-15)'},
    {name: 'macroman',displayName: 'Western (Mac Roman)'},
    {name: 'cp437',displayName: 'DOS (CP 437)'},
    {name: 'windows1256',displayName: 'Arabic (Windows 1256)'},
    {name: 'iso88596',displayName: 'Arabic (ISO 8859-6)'},
    {name: 'windows1257',displayName: 'Baltic (Windows 1257)'},
    {name: 'iso88594',displayName: 'Baltic (ISO 8859-4)'},
    {name: 'iso885914',displayName: 'Celtic (ISO 8859-14)'},
    {name: 'windows1250',displayName: 'Central European (Windows 1250)'},
    {name: 'iso88592',displayName: 'Central European (ISO 8859-2)'},
    {name: 'cp852',displayName: 'Central European (CP 852)'},
    {name: 'windows1251',displayName: 'Cyrillic (Windows 1251)'},
    {name: 'cp866',displayName: 'Cyrillic (CP 866)'},
    {name: 'iso88595',displayName: 'Cyrillic (ISO 8859-5)'},
    {name: 'koi8r',displayName: 'Cyrillic (KOI8-R)'},
    {name: 'koi8u',displayName: 'Cyrillic (KOI8-U)'},
    {name: 'iso885913',displayName: 'Estonian (ISO 8859-13)'},
    {name: 'windows1253',displayName: 'Greek (Windows 1253)'},
    {name: 'iso88597',displayName: 'Greek (ISO 8859-7)'},
    {name: 'windows1255',displayName: 'Hebrew (Windows 1255)'},
    {name: 'iso88598',displayName: 'Hebrew (ISO 8859-8)'},
    {name: 'iso885910',displayName: 'Nordic (ISO 8859-10)'},
    {name: 'iso885916',displayName: 'Romanian (ISO 8859-16)'},
    {name: 'windows1254',displayName: 'Turkish (Windows 1254)'},
    {name: 'iso88599',displayName: 'Turkish (ISO 8859-9)'},
    {name: 'windows1258',displayName: 'Vietnamese (Windows 1258)'},
    {name: 'gbk',displayName: 'Simplified Chinese (GBK)'},
    {name: 'gb18030',displayName: 'Simplified Chinese (GB18030)'},
    {name: 'big5',displayName: 'Traditional Chinese (Big5)'},
    {name: 'big5hkscs',displayName: 'Traditional Chinese (Big5-HKSCS)'},
    {name: 'shiftjis',displayName: 'Japanese (Shift JIS)'},
    {name: 'eucjp',displayName: 'Japanese (EUC-JP)'},
    {name: 'euckr',displayName: 'Korean (EUC-KR)'},
    {name: 'windows874',displayName: 'Thai (Windows 874)'},
    {name: 'iso885911',displayName: 'Latin/Thai (ISO 8859-11)'},
    {name: 'koi8ru',displayName: 'Cyrillic (KOI8-RU)'},
    {name: 'koi8t',displayName: 'Tajik (KOI8-T)'},
    {name: 'gb2312',displayName: 'Simplified Chinese (GB 2312)'},
    {name: 'cp865',displayName: 'Nordic DOS (CP 865)'},
    {name: 'cp850',displayName: 'Western European DOS (CP 850)'}
  ],
  defaultLocale: 'en',
  defaultEncoding: 'utf8'
};